<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="login.css" >
    <title>Login</title>
</head>
<body>
    <div class="main" >
        <div class="div1">
            <div class="div2">
            <h1 class="heading">FILTER THE FAKE</h1>
            <br>
            <br>
           
            <br>

            <form>
                <p style="font-size:30px;">
                    Username
                </p>
                <br>
                <input type="email" style="height: 40px;width: 500px; border-radius: 5px;  ">
                <br>
                <br>
                <p style="font-size:30px;">
                    Password
                </p>
                <br>
                <input type="password" style="height: 40px;width: 500px;border-radius: 5px; ">
                <br>
                <br>
                <p style="color:skyblue"><a>Forgot Password?</a></p>
                
            </form>
            <br>
            <br>
            <br>
            <p style="font-size:20px;">Don't have an account? <a style="color:skyblue;">Create account</a> </p>
            <br>
            <button class="button">LOGIN</button>
            
        </div>
          
        </div>
    </div>
    
</body>
</html>