<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title><sIGN-UP</sIGN-UP></title>
    <link rel="stylesheet" href="sign_up.css" >
    <meta name="google-signin-client_id" content="869282914793-56tr70tc0i3e2fdcefqurql2ke7knim7.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="react.js"></script>
    <script>
       
        function checkPassword(){
        
        var i;
        i=document.getElementById("p1")
        var j;
        i=document.getElementById("p1")

            if(i!=j){
            alert("Re-enter to confirm password");
            }
        }

    
    </script>
</head>
<body>
        <div class="main" >
            <div  class="main2">
                <div class="div1">
                    <div class="div2">
                    <h1 class="heading">FILTER THE FAKE</h1>
                    <br>
                    <br>
                    <h2>CREATE YOUR ACCOUNT</h2>
                   
                    <br>
        
                    <form>
                        
                        
                        <input type="text" placeholder=" First name"style="height: 35px;width: 250px; border-radius: 5px; font-size:20px; border; ">&nbsp;
                        <input type="text" placeholder=" Last name" style="height: 35px;width: 250px;border-radius: 5px; font-size:20px ">
                        <br><br>
                        
                       
                        <input type="email" placeholder=" Username"  style="height: 35px;width: 510px;border-radius: 5px;font-size:20px " ">
                        <p>You can use letters,numbers & periods</p>
                        
                        
                       
                        <input type="password" id="p1" placeholder=" Password"  style="height: 35px;width: 510px;border-radius: 5px;font-size:20px " ">
                        <p>Use 8 or more characters</p>
                        
                        
                        
                       
                        <input type="password" id="p2" placeholder=" Confirm Password"  style="height: 35px;width: 510px;border-radius: 5px;font-size:20px " ">
                        <br>
                        
                        
                    </form>
                    <br>
                    <br>
                    
                    <p style="font-size:20px;"> Have an account? <a style="color:skyblue;">Sign instead</a> </p>
                    <br>
                    <br>
                    <br>
                    <button class="button" onclick="checkPassword()">NEXT</button>
                    
                </div>
        
                </div>
                <div class="right-box">
                    <span class="signinwith">Sign up with<br/>
                    Social Network </span>
                   <button class="social facebook" >LOGIN WITH FACEBOOK</button>  
                   <br>
                   <button class="social twitter" >LOGIN WITH TWITTER</button> 
                   <br>
                   <button class="social google" data-onsuccess="onSignIn" >LOGIN WITH GOOGLE</button>  
                   

                </div>
            </div>
        </div>
        <div>

        </div>
</body>
</html>